.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  overflow: hidden;
  background-color: white;
}

.room-photo > img {
  width: 100%;
  height: 100%;
  background-position: top center;
  background-size: cover;
}

.room-name {
  font-size: 1.2rem;
  font-weight: normal;
  text-align: left;
  text-shadow: none;
  text-transform: none;
}

.room-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px;
}

.room-footer-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}
