.header {
  width: 100%;
  height: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  background-image: linear-gradient(
    to bottom,
    rgba(45, 45, 45, 0.75),
    rgba(45, 45, 45, 0.6)
  );
}

.nav {
  display: flex;
  align-items: center;
}
