.background-image {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  background-image: url('../../assets/heroImage.jpg');
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
}
