.button {
  cursor: pointer;
  font-size: 1.5rem;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: white;
  border: none;
  background-color: transparent;
  margin-right: 10px;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.7);
}

.button:active,
.button:focus,
.button:hover {
  background: rgba(163, 163, 163, 0.2);
  box-shadow: 0 0 8px rgba(163, 163, 163, 0.7);
}
