.button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.badge {
  background: rgba(50, 50, 50, 0.75);
  border: 2px solid #aeaeae;
  color: white;
  font-weight: bold;
  text-align: center;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.7);
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  right: 0.3rem;
  margin-bottom: 0.5rem;
  padding-top: 0.2rem;
}
