@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative');

.button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.logo {
  height: 3rem;
  width: 3rem;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.7));
}

.title {
  font-family: 'Cinzel Decorative', cursive;
  color: white;
  font-weight: bold;
  font-size: 0.875rem;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.7);
}
