.main-section {
  background-color: white;
  margin-top: 4.6rem;
}

.treatments-area {
  text-shadow: none;
}

.treatments-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 0;
  margin: 0 auto;
  width: 90%;
  padding: 0;
}
