@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Poppins:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Poppins', 'Arial', sans-serif;
}

body {
  margin: 0;
}
