@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Poppins', 'Arial', sans-serif;
}

body {
  margin: 0;
  background-image: url('./assets/heroImage.jpg');
  background-position: center;
  background-size: cover;
  height: 100vh;
}





