@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Poppins', 'Arial', sans-serif;
}

h1 {
  font-size: 2.3rem;
  letter-spacing: 0.06em;
  font-weight: normal;
  text-transform: uppercase;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
  text-align: center;
  padding: 1.5rem;
  margin: 0.75rem 0;
}

h2 {
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  margin: 0.5rem auto;
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 0.09em;
  text-transform: uppercase; 
}

a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}